#### `Metadata`
<details>
<summary>metadata.json</summary>

```json
{{ metadata_json }}
```

</details>

#### `Terraform output`
<details>
<summary>{{ file_name }}</summary>

```hcl
{{ terraform_output }}
```

</details>